<section class="wrapper">

  <div class="container">
    <div class="upper">

      <div class="search">
        <div [inlineSVG]="'./assets/svg/icons/General/gen004.svg'"></div>
        <div>
          Search tasks projects teams ...
        </div>
      </div>

      <div [inlineSVG]="'assets/svg/logos/angular-icon-1.svg'" class="profile"></div>

    </div>

    <div class="middle">

      <div class="paginator">

        <div>
          <div style="display: inline-block" (click)="previousMonth()" class="prev" [inlineSVG]="'/assets/svg/icons/Media/Play.svg'"></div>
          <div style="display: inline-block">{{paginatorDate}}</div>
          <div style="display: inline-block" (click)="nextMonth()" class="next" [inlineSVG]="'/assets/svg/icons/Media/Play.svg'"></div>
        </div>

      </div>

      <div class="weekdays">

        <span>SAT</span>

        <span>SUN</span>

        <span>MON</span>

        <span>TUE</span>

        <span>WED</span>

        <span>THU</span>

        <span>FRI</span>

      </div>

    </div>

    <div *ngIf="items$ | async;else error" class="calendar">

      <ng-container *ngFor="let item of items$ | async">

        <div>

          <ng-container *ngIf="item.date !== ''">
            <div [class.disabled]="!item.active" [class.tasked]="item.calendar.length !== 0">
              <div>{{item.date | localDate}}</div>
              <div>{{item.calendar.length}} tasks</div>
            </div>
          </ng-container>

        </div>

      </ng-container>


    </div>

  </div>

</section>


<!-- start::error-template -->
<ng-template #error>

  <div class="error">

    <div [inlineSVG]="'/assets/svg/errors/Mobile Marketing-pana.svg'"></div>

    <div>
      <div>A backend problem!</div>
    </div>

  </div>

</ng-template>
<!-- end::error-template -->
