<section class="wrapper">

  <div class="container">
    <div class="upper">

      <div class="search">
        <div (click)="search()" [inlineSVG]="'./assets/svg/icons/General/gen004.svg'"></div>
        <div class="w-100">
          <input
            type="text"
            placeholder="شماره موبایل خود را وارد نمایید ..."
            [(ngModel)]="phone"
          >
        </div>
      </div>

      <div [inlineSVG]="'assets/svg/logos/angular-icon-1.svg'" class="profile"></div>

    </div>

    <ng-container *ngIf="items$ | async;else error">

      <div class="middle">

        <div class="paginator">

          <div>
            <div style="display: inline-block" (click)="previousMonth()" class="prev" [inlineSVG]="'/assets/svg/icons/Media/Play.svg'"></div>
            <div style="display: inline-block">{{paginatorDate}}</div>
            <div style="display: inline-block" (click)="nextMonth()" class="next" [inlineSVG]="'/assets/svg/icons/Media/Play.svg'"></div>
          </div>

        </div>

        <div class="weekdays">

          <span>شنبه</span>

          <span>یکشنبه</span>

          <span>دوشنبه</span>

          <span>سه شنبه</span>

          <span>چهارشنبه</span>

          <span>پنجشنبه</span>

          <span>جمعه</span>

        </div>

      </div>

      <div class="calendar">

        <ng-container *ngFor="let item of items$ | async">

          <div>

            <ng-container *ngIf="item.date !== ''">
              <div (click)="item.active ? openDateEvents(item.calendar): null" [class.disabled]="!item.active" [class.tasked]="item.calendar.length !== 0">
                <div>{{item.date | localDate}}</div>
                <div>{{item.calendar.length}} رویداد</div>
              </div>
            </ng-container>

          </div>

        </ng-container>


      </div>

    </ng-container>

  </div>

</section>


<!-- start::error-template -->
<ng-template #error>

  <div class="error">

    <div [inlineSVG]="'/assets/svg/errors/Mobile Marketing-pana.svg'"></div>

    <div>
      <div>با جستجوی شماره شروع کنید ...</div>
    </div>

  </div>

</ng-template>
<!-- end::error-template -->
