<div class="aside">

  <img src="assets/brand/corex-logo.svg">

  <div class="aside-inner">

    <div>
      <div [inlineSVG]="'./assets/svg/icons/General/gen001.svg'"></div>
      <div>داشبورد</div>
    </div>

    <div>
      <div [inlineSVG]="'./assets/svg/icons/General/gen002.svg'"></div>
      <div>پروژه ها</div>
    </div>

    <!--<div>
      <div [inlineSVG]="'./assets/svg/icons/General/gen005.svg'"></div>
      <div>Tasks</div>
    </div>-->

    <div [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="'/calendar'">
      <div [inlineSVG]="'./assets/svg/icons/General/gen014.svg'"></div>
      <div>تقویم</div>
    </div>

    <div>
      <div [inlineSVG]="'./assets/svg/icons/Home/Flower1.svg'"></div>
      <div>تیم ها</div>
    </div>

    <!--<div>
      <div [inlineSVG]="'./assets/svg/icons/Code/Compiling.svg'"></div>
      <div>Messenger</div>
    </div>-->

    <div>
      <div [inlineSVG]="'./assets/svg/icons/Home/Armchair.svg'"></div>
      <div>فعالیت</div>
    </div>

  </div>
</div>
